certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
filelock==3.0.12
idna==3.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
numpy==1.20.3
pandas==1.2.4
Pillow==8.2.0
python-dateutil==2.8.1
pytz==2021.1
query-string==2020.12.3
requests==2.25.1
requests-file==1.5.1
six==1.16.0
splashgen==0.0.26
tldextract==3.1.0
tqdm==4.60.0
unshortenit==0.4.0
urlexpander==0.0.36
urllib3==1.26.4
